@font-face {
    font-family: Cormorant Garamond;
    src: url(images/CormorantGaramond-Regular.ttf) format("truetype");
}
@font-face {
    font-family: Cormorant Garamond Bold;
    src: url(images/CormorantGaramond-Bold.ttf) format("truetype");
}
@font-face {
    font-family: Cormorant Garamond Light;
    src: url(images/CormorantGaramond-Light.ttf) format("truetype");
}
@font-face {
    font-family: Cormorant Garamond Semo Bold;
    src: url(images/CormorantGaramond-SemiBold.ttf) format("truetype");
}
@font-face {
    font-family: Orange Squash Demo;
    src: url(images/Orange-Squash-Demo-BF6483cfe8b2bfc.otf) format("truetype");
}

/* start nav */

.center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

/* header css */
/* Styling for the navigation bar */
@media(max-width: 768px){
    .navbar {
        background-image: url("images/Raga Svara Luxury Retreat India.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 800px;
        position: absolute;
        z-index: 2;
    } 
}


.navbar {
    background-image: url("images/Raga Svara Luxury Retreat India.jpg");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    position: relative;
    z-index: 2;
}


.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.0); /* Transparent background */
    transition: background-color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
    box-shadow: none; /* Remove the initial box shadow */
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    padding: 10px;
}

.navlist {
    list-style: none;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
}

.navlist li {
    margin: 0 20px;
    position: relative;
    font-size: 20px;
}

.navlist li::after {
    content: "|";
    color: white;
    position: absolute;
    right: -20px;
    top: 5px;
    font-weight: bold;
    content: 20px;
}

.navlist li:nth-last-child(1)::after {
    content: none; /* Remove the separator after the second-to-last item */
}

.book-now {
    display: flex;
    align-items: center;
}


.bnow {
    background-color: #007bff;
    font-family: Cormorant Garamond; 
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Styling for the fixed navbar */
.navbar-fixed {
    background-color: rgba(255, 255, 255, 1.0); /* Solid background when fixed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow when fixed */
}

/* Style the links to be white, bold, and without decoration */
.navlist a {
    font-family: Cormorant Garamond; 
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navlist a:hover {
    text-decoration: none;
    color: white;
}



.parahraph {
    margin: 100px 250px 100px 250px; /* Reduce margin for smaller screens */
    place-items: center;
    font-family: Cormorant Garamond;
    font-size: 22px; /* Decrease font size for smaller screens */
    text-align: center;
    color: #576241;
}
html{
    width: fit-content;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .parahraph {
        margin: 30px;
        font-size: 18px;
    }
}

/* card first */
.cardupperimages{        
    display: grid;
    gap: 100px;
    margin: 100px;
    place-items: center;
    border-radius: 10px;
}

.container {
    margin-top: 25px;
    position: relative;
    text-align: center;
    padding: 2px 4px;
  }

.card {    
    justify-content: center;
    margin: 50px;
    text-align: center;
    padding: 0px;
    font-family: Orange Squash Demo;
    font-weight: 100;
    border-radius: 20px;
    position: absolute;  
    background-color: white;
    bottom: 0;
    right: 0;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
  }


.cardhead{
    font-size: 25px;
    font-weight: 100;
    color: #706f6f;
}

.cardparagraph{
    color: #9a9a9a;
    font-size: 25px;
    font-weight: lighter;
    margin:auto;
}
.cardparagraph p{
    margin:10px;
}

.cardbooknow{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.linebetween{
    width: 100%;
    border-top: 2px solid #808080;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin:0px 0px 0px 0px;

}

.cardbutton{
    border-top-width: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 10px 10px 10px;
    font-family: Cormorant Garamond Semo Bold ;
    background-color: white;
    color: black;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
}  
.success {
    color: #9a9a9a;
  }
  
  .success:hover {
    background-color: #5d6266;
    color: white;
  }

  /* card second */

  .card2 {    
    justify-content: center;
    margin: 50px;
    text-align: center;
    padding: 0px;
    font-family: Orange Squash Demo;
    font-weight: 100;
    border-radius: 20px;
    position: absolute;  
    background-color: white;
    bottom: 0;
    left: 0;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
  }


.cardhead{
    font-size: 25px;
    font-weight: 100;
    color: #706f6f;
}

.cardparagraph{
    color: #9a9a9a;
    font-size: 25px;
    font-weight: lighter;
    margin:auto;
}
.cardparagraph p{
    margin:10px;
}

.cardbooknow{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.linebetween{
    width: 100%;
    border-top: 2px solid #808080;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin:0px 0px 0px 0px;

}

.cardbutton{
    border-top-width: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 10px 10px 10px;
    font-family: Cormorant Garamond Semo Bold ;
    background-color: white;
    color: black;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
}  
.success {
    color: #9a9a9a;
  }
  
  .success:hover {
    background-color: #5d6266;
    color: white;
  }

  @media screen and (max-width: 600px) {
    .card {
      width: 30%;
      display: block;
      margin-bottom: 20px;
    }    
  }
  @media screen and (max-width: 100%) {
    .containerr{
        width: 100%;
        display: block;
        margin-bottom: 20px;       
    } 
  }
  
/* Third */

.container3 {
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: auto;
    margin-left: 150px;
    height: auto;
}

.image3 {
    flex: 1;
    padding: 0px;
}

.textforthird {
    flex: 2;
    padding: 0px;
    bottom: 0;
    padding-top: 200px;
    padding-left: 30px;
}

.image3 img {
    margin-right: 120px;
    max-width: 100%;
    height: auto;
}
.textforthird h2{
    font-family: Orange Squash Demo; 
    margin: 0px;
    color: rgb(213, 130, 130); 
    font-size: 40px;
}
.textforthird p{
    margin: 0px;
    font-family: Cormorant Garamond; 
    color: black; 
    font-size: 20px;
}
.textforthird h3{
    font-family: Cormorant Garamond bold;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(106, 99, 99);
    font-size: 30px;
}

  /* Fourth */

.container4 {
    text-align: left;
}

.top-heading4 {
    font-family: Orange Squash Demo;
    color: #8c8787; 
    text-align: left;
    padding: 20px 20px;
    font-size: 45px;
}

.row4 {
    display: flex;
}

.card4 {
    flex: 1;
    margin: 0 10px;
    padding: 0px;
    max-width: 340px;
}

.image4 {
    max-width: 20%;
}

.card-title4 {
    font-family: Cormorant Garamond Bold;
    color: #5d6266;
    margin: 10px 0;
    font-style: bold;
    font-size: 30px;
}

.description4 {
    font-family: Cormorant Garamond;
    font-size: 23px;
    color: #847d77;
    margin: 10px 0;
}

  /* Fifth */

.container5{
    display: flex;
    align-items: center;
}
.heading5adjust{
    display: flex;
}
.top-heading5{
    font-family: Orange Squash Demo;
    color: #797688; 
    text-align: left;
    padding: 0px 20px 0px 210px;
    font-size: 45px;
}
.top-paragraph5{
    font-family: Cormorant Garamond;
    color: #797688; 
    text-align: left;
    padding: 23px 0px 0px 0px;
    font-size: 22px;
}
.imgcontainer5,.imgcontainer6 {
    align-items: center;
    position: relative;
    display: inline-block;
    padding-left: 40px;
}

.image5,.image6 {
    border-radius: 15px; /* Add rounded corners to the image */
}

.card5 {
    width: 350px;
    height: 254px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffffff; /* Background color for the card */
    padding: 0px;
    border-radius: 15px 15px 15px 15px; /* Add rounded corners to the top left of the card */
    color: #808080;
}
.row5{
    display: flex;
    margin-bottom: -4px;
    align-items: center;
    justify-content: space-evenly;
}
.row5 h2{
    font-family: Orange Squash Demo;
    margin-block-start: 3%;
    font-size: 35px;
    text-align: left;
}

.row5 img {
    margin-block-start: 10%;
}
.line-between5 {
    width: 100%;
    border-top: 2px solid #808080;
    margin: 0px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0; /* Stretch to the right edge of the card */
}

.line-between-paragraphs {
    display: flex;    
}

.line-between-paragraphs p {
    flex: 1;
    padding: 0px;
    margin: 0;
}

.line-between-paragraphs::before {
    content: "";
    width: 1.5px; /* Adjust the width as needed */
    height: 45px;
    background: #808080; /* Color of the line */
    margin: 0px 0px;
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.bn {
    display: flex;
    margin-top: 2px;
    text-align: center;
    justify-content: space-around;
}
.bn button{
    border-top-width: 0px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
    color: #808080;
    background-color: white;
    font-family: Cormorant Garamond;
    margin-block-start: 0%;
    margin-block-end: 0%;
    font-size: 23px;
    padding: 10px;
}

/* Sixth */

.card6 {

    width: 250px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px 30px 30px 65px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff; /* Background color for the card */
    padding: 0px;
    border-radius: 15px 15px 15px 15px; /* Add rounded corners to the top left of the card */
    color: #808080;
}

.row6 h1{
    margin: 5px;
}

.bn p{
    margin: -8px;
    font-size: 20px;
}


/* seven */

  .Magazinetext{
    font-family: Orange Squash Demo;
    font-weight: 100;
    font-size: 45px;
    margin-left: 230px;
    text-align: left;
    color: #6e7683;
  }

  .magazineimage{
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 105px;
    margin-right: 100px;
    grid-template-columns: 250px 250px 250px 250px ;
    grid-gap: 20px;
    padding: 10px;
    height: 80px;
  }  
  .magazinebuttonalign{
    display: grid;
    align-items: center;
    margin-top: 10px;
    margin-bottom: -50px;
    margin-left: 180px;
    margin-right: 100px;
    grid-template-columns: 250px 250px 250px 250px ;
    grid-gap: 20px;
    padding: 10px;
    height: 60px;
  }  
  .magazinebutton{
    border: 1px solid green;
    font-family: Cormorant Garamond;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 5px 15px;
    font-size: 20px;
    cursor: pointer;
}  
.success {
    border-color: rgb(177, 177, 177);
    color: grey;
  }
  
  .success:hover {
    background-color: #5d6266;
    color: white;
  }

  .guestcardupperimages{        
    display: grid;
    gap: 100px;
    margin: 100px;
    place-items: center;
    border-radius: 10px;
}

.guestcontainer {
    margin-top: 20px;
    position: relative;
    text-align: center;
    
  }

.guestcard {        
    border-radius: 20px;
    position: absolute;
    background-color: white;
    top: 4%;
    right: 5%;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    transition: 0.8s;
  }

  .guestcard:hover {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
  }
  .guesthead{
    margin-top: -30px;
    margin-bottom: -30px;
    color: #a4a788;    
    font-size: 25px;
    font-weight: 100;
    font-family: Orange Squash Demo;
  }
  .guestparagraph{
    margin-bottom: -10px;
    color: black;
    font-size: 25px;
    font-weight: 100;
    font-family: Cormorant Garamond light;
  }

.guestcardbooknow{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.guestcardbutton{
    border-top-width: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 0px 10px 10px;
    font-family: Cormorant Garamond Semo Bold ;
    background-color: white;
    color: black;
    padding: 20px 130px;
    font-size: 25px;
    cursor: pointer;
}  
.success {
    border-color: rgb(177, 177, 177);
    color: black;
  }
  
  .success:hover {
    background-color: #a4a788;
    color: white;
  }
  
  /* experience images */

  .experiencetext{
    font-family: Orange Squash Demo;
    font-weight: 100;
    font-size: 45px;
    margin-left: 230px;
    text-align: left;
    color: #80836a;
  }

  .experiencecontainer{
    display: flex;
    align-items: center;
  }

  * {
    box-sizing: border-box;
  }
  
  .experiencecolumn {
    float: left;    
    width: 50%;
    padding: 10px;
    height: 300px;
  }

  .experiencerow:after {
    content: "";
    display: table;
    clear: both;
  }


  /* Eight */
/* Style the container */
.container8 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#eight.center{
    justify-content: center;
    text-align: left;
    left: 0;
}


/* Style the content within the container */
.content {
    background-color: #eae5e5;
    border-radius: 20px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0px 15px 0px 15px;
}

/* Style the image */
.content .fimg {
    justify-content: center;
    align-items: center;
    left: 50%;
    right: 50%;
}

/* Style the info section */
.info {
    /* justify-content: space-between;
    align-items: center; */
    max-width: 300px;
    margin: 15px;
}

.info .simg{
    margin-left: 100px;
    justify-content: center;
}

.info p {
    font-family: Cormorant Garamond;
    font-size: 25px;
    justify-content: center;
    text-align: center;
}
.info .line-between5{
    width: 30%;
    border-top: 1.5px solid #808080;
    margin: 20px;
    margin-left: 100px;
    position: relative;
}

/* Style for the footer */
.footer {
    background-color: #f4f4f4;
    color: #9a9a9a;
    padding: 0px 0px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left, .footer-middle, .footer-right {
    flex: 1;
    margin: 0 10px;
}

.logo {
    font-family: Cormorant Garamond Semo Bold;
    color: rgb(93, 90, 90);
    font-size: 20px;
    /* height: 100px; */
    text-align: center;
}
.centered-container{
    font-family: Cormorant Garamond;
    color: rgb(93, 90, 90);
    font-size: 18px;
}

.contacticon-list {
    list-style: none;
    padding: 0;
}

.contacticon-list li {
    margin: 0 10px; /* Add spacing between list items */
}

.copyright {
    text-align: center;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.contact-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-middle{
    padding: 5%;
    font-size: 20px;
    font-family: Cormorant Garamond;
}
.footer-middle p {
    margin-bottom: 5px;
    font-size: 20px;
    font-family: Cormorant Garamond;
}

.footer-left {
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-right{
    font-size: 20px;
    font-family: Cormorant Garamond;
    padding: 5%;
    padding-top: 5%;
}

input.frname,
input.fremail {
    border: none; /* Remove the border */
    background: none; /* Remove the background */
    border-bottom: 1px solid #000; /* Add an underline (you can change the color) */
    padding: 4px; /* Adjust padding as needed */
    outline: none; /* Remove the input focus outline (optional) */
}
input::placeholder {
    color: transparent;
}

.copyright {
    font-size: 20px;
    font-family: Cormorant Garamond;
    text-align: center;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: "/images/CormorantGaramond/CormorantGaramond-Bold.ttf";
}

.contacticon-list {
    list-style: none;
    display: flex;
    align-items: center; /* Center items vertically */
}

.contacticon-list li {
    margin: 0 10px; /* Add spacing between list items */
}

.side-by-side-footer {
    display: flex;
}

.side-by-side-footer > div {
    margin-right: 20px; /* Add spacing between the two lists */
}

.side-by-side-footer ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit; /* You can also inherit the color for the links, so they match the surrounding text color */
}

.side-by-side-footer li {
    margin: 5px 0;
}
